@inject SessionManager sessionManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (sessionManager.CurrentUser != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="CLient" asp-action="Index">Clients</a>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Logement" asp-action="Index">Logements</a>
                        </li>
                    @*  <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>*@
                       @* @if (sessionManager.CurrentUser is null)
                        {
                        <li class="float-right">
                            <a class="nav-link text-dark" asp-controller="Client" asp-action="login">Se connecter</a>
                        </li>
                        }
                        else
                        {
                        <li class="float-right">
                                <a class="nav-link text-dark" asp-controller="Client" asp-action="logout">@sessionManager.CurrentUser.Email | Se déconnecter</a>
                        </li>
                        }*@
                    </ul>
                    <ul class="navbar-nav float-right">
                        
                        @if (sessionManager.CurrentUser is null)
                        {
                            <li class="nav-item">
                                 <a class="nav-link text-dark" asp-controller="Client" asp-action="login">Se connecter</a>
                            </li>

                            <li class="nav-item">
                                 <a class="nav-link text-dark" asp-controller="Client" asp-action="create">Sign Up</a>
                            </li>

                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Logement" asp-action="MyLogement">Mes Annonces</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Reservation" asp-action="MyReservation">Mes Reservations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" >@sessionManager.CurrentUser.Email</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Client" asp-action="logout">| Se déconnecter</a>
                            </li>

                        }
                        
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        @*
            OU
            
            @Html.Partial("_CookieConsentPartial")
        *@
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 -EcoTravel App- <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
